
body {
  background-color: lightblue;
}
#rock {
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
  color: #007D32;
  background-color: #849fcc;
 
}
#paper {
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
  color: EFFF06;
  background-color: #849fcc;
}
#scissors {
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
  color: #33CCCC;
  background-color: #849fcc;
}


