{% extends "layout.html" %}

{% block title %}info{% endblock %}

{% block content %}
  <h1>Game info:</h1>
  <p>This game is Rock Paper Scisors. In Rock Paper Scisors, Rock beats scrisors, scisors beat paper, and paper beats rock. In this game you are playing against another person who is palying on a different computer  To play you go to the start game page and click the start button.</p>
  <img src="{{ url_for('static',filename='cat.jpg') }}">
  <img src="{{ url_for('static',filename='rpsi.jpg') }}" alt="" style="width:500px;height:340px;">

{% endblock %}
