{% extends "layout.html" %}

{% block title %}Info{% endblock %}

{% block content %}
  <h1>Score Board</h1>
  <style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>
<body>


<table style="width:100%">
  <tr>
    <th>Place</th>
    <th>Username</th>
    <th>Score</th>
  </tr>
    <tr>
    <th>1st</th>
    <th>{{ username1 }}</th>
    <th>{{ score1 }}</th>
  </tr>
    <tr>
    <th>2nd</th>
    <th>{{ username2 }}</th>
    <th>{{ score2 }}</th>
	  <tr>
    <th>3rd</th>
    <th>{{ username3 }}</th>
    <th>{{ score3 }}</th>
  </tr>
</table>
 <p> congrats on your top scores </p>
{% endblock %}
